<!doctype html>   
<html>
<head>
    <title>{{title}}</title>
    <style>
        .error {
            color: red
        }
    </style>
</head>
<body>

    <a href='/new'>Add A Blog Entry</a>
    <a href='/blog'>Main Blog Page</a>

    {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
        {% for category,message in messages %}
            <li class="{{category}}">{{message}}
            </li>
        {% endfor %}
        </ul>
    {% endwith %}
{% block content %}
{% endblock %}
</body>
</html>